@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base;
  }
}

/* Kiểu cho chế độ tối */

.dark {
  @apply bg-darkBg;
  color: #ffffff;
}
.dark .quill {
  @apply font-primary placeholder:text-white border-darkStroke;
}
.dark .quill .ql-editor .ql-blank::placeholder {
  color: #ffffff;
}
/* Kiểu cho chế độ sáng */

.quill {
  @apply border;
  border-radius: 10px;
  padding: 15px 25px;
  text-align: center;
  min-height: 320px;
}

.quill .ql-toolbar.ql-snow {
  border: none;
  display: inline-block;
  @apply bg-text4 bg-opacity-10;
  border-radius: 10px;
  color: white;
}

.quill .ql-container.ql-snow {
  font-size: 14px;
  border: none;
}
.ql-editor .ql-blank {
  @apply placeholder:dark:text-white;
}
.ql-editor {
  @apply placeholder:text-2xl;
}
.ql-editor.ql-blank::before {
  @apply text-text4 text-sm;
}

.ReactModal__Body--open {
  overflow: hidden;
}

// swiper
// .swiper-slide {
//   width: 100px;
// }

.swiper-slide-thumb-active .gallery img {
  @apply border-[4px] border-solid border-primaryColor;
}

// .swiper-slide {
//   position: relative;
//   bottom: 0;
// }

.loading {
  width: 100%;
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-top: 100px;
}

// skeleton
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(110deg, #4a6ea9, 3B995F);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position: -200%;
  }
}
// #eae1e1 8%,
//     #fffafa 18%,
//     #e4e4e4 33%

// .react-datepicker__input-container {
//   width: 100%;
//   padding: 10px 20px;
//   border: 1px solid #ccc;
// }
#monthYearShip,
#startDate,
#endDate {
  width: 100%;
  padding: 13px 23px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;

  font-family: "Epilogue", "sans-serif";
  font-size: 14px;
}

.dark #monthYearShip,
#startDate,
#endDate {
  background-color: #13131a;
  border: 1px solid #3a3a43;
}
.dark .react-datepicker {
  background-color: #13131a;
  color: white;
}

.react-datepicker .react-datepicker__triangle {
  position: absolute;
  left: -12px !important;
  top: 165px !important;
}

.dark .react-datepicker__triangle {
  display: none;
}
.dark .react-datepicker__day {
  color: white !important;
  :hover {
    color: #3a3a43;
  }
}

.dark .story-css-content p span {
  color: white !important;
}
